#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 19px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 98; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 3px; /* Some padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: 1px solid #1E90FF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.coppy {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.welcome {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wa {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}




